* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home
{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.projects {
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 8vw;
  margin-top:2vh;
}

.comps {

  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 8vw;
  margin-top:2vh;
}

.divider {
  border: none;
  border-top: 5px solid #242424; /* Thick top border */
  width: 60vw;                   /* Responsive width */
  margin: 0 auto;               /* Center the divider */
  
}


.sign-up {

  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 100px;
}

.thanks {
  flex:1;
  height: 100%;
  width: 100%;
  
}

.thanks > h1{

  color: #fff;
  font-size: 4rem;
}
.thanks > h2 {
  color:#fff;
  font-size: 3rem;
  text-align: center;
}